*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: monospace, sans-serif;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--clr);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-size: rem(16px);
    background-color: var(--bg-color);
    margin: auto;
    color: var(--clr);
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

img {
    width: 100%;
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-image 0.2s ease,
        box-shadow 0.2s ease;
        &:hover {
            transform: translate(1px, 1px);
            transform: scale(1.05);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
