.homepage-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    padding-inline-start: 100px;
    padding-inline-end: 100px;

    .homepage-top {
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        align-items: center;

        .app-header {
            display: inline;
            // display: flex;
            // justify-content: space-between;
            // align-items: center; /* Align items vertically in the center */
        }

        ul.header-items {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        .homepage-nav-btn {
            // margin-inline-start: 100px;
            // margin-inline-end: 100px;
            background-image: $nav-button-clr;
            color: $secondary-txt-color;
            margin: 5px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition:
                transform 0.2s ease,
                background-image 0.2s ease,
                box-shadow 0.2s ease;

            &:hover {
                transform: translate(1px, 1px);
                transform: scale(1.05);
                background-image: $nav-button-clr-hover;
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
            }
        }

        .introduction-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-block-start: 3%;
        }

        .intro-text {
            display: flex;
            flex-direction: column;

            .send-to-features {
                background-image: $button-clr-gradient;
                color: $secondary-txt-color;
                width: 20%;
                align-self: center;
                margin: 5px;
                padding: 8px;
                &:hover {
                    background-image: $button-clr-gradient-hover;
                }
            }
        }

        .lifters-pic {
            max-width: 50%;
            height: auto;
            object-fit: contain;
        }
    }

    .inspiration-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block-end: 3%;
        p {
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }

        .inspiration-image {
            display: flex;
            margin-block-start: 4%;

            .inspirtional-lifter {
                max-width: 50%;
                height: auto;
                object-fit: contain;
            }
        }

        .inspiration-text {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .word {
                position: absolute;
                opacity: 0;
                transition: opacity 3s ease-in-out;
                font-size: 2em;
                color: var(--accent-clr);
            }

            .word.visible {
                opacity: 1;
                font-size: 2em;
                color: var(--accent-clr);
            }
        }
    }

    .homepage-bottom {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;

        .about-short {
            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
            width: 100%;

            .app-purpose {
                display: flex;
                align-items: center;
                background-color: lighten($background-clr, 10%);
                p {
                    width: 50%;
                    margin: 0 auto;
                    text-align: center;
                }
            }
            // make it a mixin? ^
            .user-benefits {
                background-color: lighten($background-clr, 10%);
                grid-column: 3;
                p {
                    width: 50%;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
    }
}
