// Colors
$clr1: #007BFF;
$clr2: #FF7F50;
$clr3: #28A745;
$clr4: #F8F9FA;
$clr5: #343A40;

:root {
    --bg-color: $clr4;
    --clr: $clr5;
    max-width: none;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

$mobile-breakpoint: 500px;
$small-tablet-breakpoint: 600px;
$tablet-breakpoint: 830px;
$small-breakpoint: 1050px;
$narrow-breakpoint: 1340px;
$normal-breakpoint: 1550px;
$wide-breakpoint:1750px;
