// Colors
$primary-clr: #007BFF;
$secondary-clr: #FF7F50;
$accent-clr: #28A745;
$background-clr: #d1d2d2;
$text-clr: #343A40;
$secondary-txt-color: #ffffff;
$nav-button-clr: linear-gradient(to right, #007BFF, #0056b3);
$nav-button-clr-hover: linear-gradient(to right, #0167d5, #033b78);
$button-clr-gradient: linear-gradient(to right, #FF7F50, #fc6833);
$button-clr-gradient-hover: linear-gradient(to right, #fa642e, #fc581d);

:root {
    --bg-color: #{$background-clr};
    --clr: #{$text-clr};
    max-width: none;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

$mobile-breakpoint: 500px;
$small-tablet-breakpoint: 600px;
$tablet-breakpoint: 830px;
$small-breakpoint: 1050px;
$narrow-breakpoint: 1340px;
$normal-breakpoint: 1550px;
$wide-breakpoint:1750px;